In [1]:
import pandas as pd
from sklearn.datasets import fetch_california_housing

In [3]:
house = fetch_california_housing()
df = pd.DataFrame(data = house.data, columns = house.feature_names)
df['price'] = house.target

In [4]:
df.head(2)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,price
0,8.3252,41.0,6.984127,1.02381,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.97188,2401.0,2.109842,37.86,-122.22,3.585

In [5]:
df.to_csv('house.csv', index = False)